tests/eval-nag
algo/chopped-nag
tests/compare-linear-system
tests/eigen-hc
.DS_Store
a
bak/
bin
bla
cmd/bla
cmd/haha
cmd/minus-chicago
cmd/o
cmd/out
cmd/outm
dx2.sce
e
ex
m.cxx
m.h
m.hxx
m2
mi
rfabbri_minus_minimial_problem_numerical_continuation_solver-v1.0.pdf
sols-gcc8
t
tests/.DS_Store
algo/tests/.DS_Store
algo/SLP-imp.hpp
tests/chicago-bak.hxx
tests/errors-ffastmath
tests/expminus-chicago
algo/tests/incremental-idea.cxx
algo/tests/make_test_eval
algo/num_successes_before_increase/
tests/output-m2
tests/output-trackdump
tests/output-trackdump2
tests/paths-minus-spherical_case_id1.tar.Z
tests/paths-minus-spherical_case_id1.tar.gz
tests/paths-minus-spherical_case_id1/
tests/te
algo/tests/test_eval.cxx
tt
*-output
*-eval-sorted*
*evalgraph*png
*-tmp-*
out
out.dot
2out*
3out*
out2
m22
timed-minus*
chicago-hxt
chicago-vectorized.hxx
cmd/a.cxx
cmd/mt
cmd/o2892.1ms
minus-eigen.cxx
minus-final_scalar.cxx
minus-nocopy.cxx
scripts/dag/README.md
scripts/dag/chicago-tmp.dot
scripts/dag/chicago-tmp.dot.bak
scripts/dag/chicago.bare
scripts/dag/chicago.bare.syms
scripts/dag/chicago.dot
scripts/dag/d.sce;
scripts/dag/evalgraph-5-all.dot
scripts/dag/exp
scripts/dag/performance
scripts/dag/tbl
scripts/dag/tbl.txt
scripts/dag/tmp.cxx
scripts/dag/vectorize_experiment.sce
scripts/extract-start-sols.vim
gcc8-flags
hongyi-test
algo/eigen-hc/
algo/tests/a.sce
algo/tests/compare-linear-system/
algo/tests/errors-ffastmath
algo/tests/eval-nag/
algo/tests/nag-filenames.png
algo/tests/output-trackdump
algo/tests/output-trackdump2
algo/tests/paths-minus-spherical_case_id1.tar.Z
algo/tests/paths-minus-spherical_case_id1.tar.gz
algo/tests/paths-minus-spherical_case_id1/
algo/tests/P01-chicago-5lines-spherical-case1
src-iccv-chicago
scripts/results-synth
tests/chicago14a-default.hxx
tests/chicago14a.h
tests/chicago14a.hxx
tests/chicago6a-default.hxx
tests/chicago6a.hxx
tests/internal_util.hxx
tests/m.h
tests/m.hxx
tests/minus.h
tests/minus.hxx
tests/parameters.h
tests/phoenix10a.h
tests/phoenix10a.hxx
README_INTERNAL.md
scripts/screencasts
tests/2colmap
tests/2openmvg
tests/o
algo/cmd/expminus-chicago
cmd/minus-cleveland
scripts/minus-chicago
scripts/tst
tags
tests/log_test_get_params_start_target
doc/papers
tests/log
other/video-with-tim-20191111-including-m2-stuff.txt
scripts/arquivo
scripts/hongyi-test-20210520.tar.bz2
minus/minus-struct-test.hxx
minus-chicago-hxh_from_m2_1.5
cmd/out.txt
cmd/saida
cmd/temp.txt
default_17567846189963289760_0.profraw
doc/assembly-simd-refs
doc/screencasts/
mii
minus.profdata
minus/Eigen-latest
minus/a.hxx
minus/bla.hxx
minus/chicago14a-HxH-tst.hxx
minus/chicago14a-HxH-tst2.hxx
minus/lines.sed
minus/lsolve-vec.hxx
minus/partial_expr.c
minus/ys-c.tmp
minus/ys-d.tmp
minus/ys-e-new.tmp
minus/ys-e-new2.tmp
minus/ys-e.tmp
minus/ys-new.tmp
minus/ys.tmp
minus/ys2.tmp
minus/ys3.tmp
minus/ys3d.tmp
minus/ys3p.tmp
minus/ysnew.tmp
p3.pdf
scripts/a.cxx
scripts/inst
scripts/m-bak.s
scripts/m-d014428-builtin_assume-hxt.s
scripts/m-d014428-const_pointers-copy-monolithic.s
scripts/m-d014428-const_pointers-copy.s
scripts/m-d014428-march_native.s
scripts/m-d014428-march_native_x0t0_vx_xt.s
scripts/m-d014428-march_native_x0t0_vx_xt__and_xdxdt_align64xt.s
scripts/m-d014428-march_native_x0t0_vx_xt_align64xt.s
scripts/m-d014428-march_v4.s
scripts/m-d014428.s
scripts/m-deb.s
scripts/m-fcopy.s
scripts/m-gcc.s
scripts/m-latest.s
scripts/m-memset.s
scripts/m-nvec.s
scripts/m-old.s
scripts/m-old.x
scripts/m-only_params_asssume.s
scripts/m-vec.s
scripts/m.s
tutorial/slides/
ys3d.tmp
ysnew.tmp
scripts/synthdata/results-synth/
tests/Fastor/
